.component-select {
    --background: var(--color-grey);
    --color: var(--color-dark);
    --shadow: var(--color-grey-0);

    &.disabled {
        --background: var(--color-grey-0);
        --shadow: rgba(white, 0.9);
        cursor: initial;
    }

    &.open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    background: var(--background);
    color: var(--color);
    box-shadow: 4px 4px 0px 0px var(--shadow);
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 1rem;
    position: relative;

    .value {
        display: flex;
        align-items: center;

        div:first-of-type {
            flex-grow: 1;
        }
    }

    .options {
        position: absolute;
        top: 100%;
        width: 100%;
        height: auto;
        z-index: 1;

        background: var(--background);
        box-shadow: 4px 4px 0px 0px var(--shadow);
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);

        option {
            &:hover {
                background-color: var(--color-grey-0);
            }

            &:last-of-type {
                border-bottom-left-radius: var(--radius);
                border-bottom-right-radius: var(--radius);
            }

            padding-left: var(--size-s);
            padding-right: var(--size-s);
        }
    }
}
