.component-select {
    --background: var(--color-grey);
    --color: var(--color-dark);
    --shadow: var(--color-color-100);

    background: var(--background);
    color: var(--color);
    box-shadow: 4px 4px 0px 0px var(--shadow);
    border-radius: var(--radius);
    cursor: pointer;
}

.component-select .value {
    display: flex;
    align-items: center;
}

.component-select .value div:first-of-type {
    flex-grow: 1;
}

.component-select option {
    padding: 0;
}