.component-select {
    --background: var(--color-grey);
    --color: var(--color-dark);
    --shadow: var(--color-grey-0);

    background: var(--background);
    color: var(--color);
    box-shadow: 4px 4px 0px 0px var(--shadow);
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 1rem;

    .value {
        display: flex;
        align-items: center;

        div:first-of-type {
            flex-grow: 1;
        }
    }

    .options {
        option {
            &:hover {
                background-color: var(--color-grey-0);
            }

            &:last-of-type {
                border-bottom-left-radius: var(--radius);
                border-bottom-right-radius: var(--radius);
            }

            padding-left: var(--size-s);
            padding-right: var(--size-s);
        }
    }
}
