@use './node_modules/@synapse-medicine/boto/dist/scss/goodmed.scss' as *;
@import './node_modules/@synapse-medicine/core/dist/scss/main.scss';

@import './views/views';
@import './common/common';

* {
  box-sizing: border-box;
}

:root {
  a, body a {
    text-decoration: none;
  }
}

// Ultralight only supports otf, while BOTO DS expose eot Inter
@font-face {
  font-family: "Inter";
  src: url("https://static.test.c-napps.com/boto/fonts/Inter-Regular.otf");
  font-weight: 300 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("https://static.test.c-napps.com/boto/fonts/Inter-Bold.otf");
  font-weight: 600 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("https://static.test.c-napps.com/boto/fonts/Inter-Medium.otf");
  font-weight: 500;
  font-display: swap;
}