@mixin declare-color($color, $value) {
    --#{ $color }-100: #{adjust-color($value, $lightness: 20%)};
    --#{ $color }-50: #{$value};
    --#{ $color }: var(--#{ $color }-50);
    --#{ $color }-0: #{adjust-color($value, $lightness: -20%)};
}

@mixin declare-xy($property, $step, $value) {
    .#{ str-slice($property, 0, 1) }-#{$step}  {
        #{$property}: var(#{$value});
    }

    .#{ str-slice($property, 0, 1) }x-#{$step}  {
        #{$property}-left: var(#{$value});
        #{$property}-right: var(#{$value});
    }


    .#{ str-slice($property, 0, 1) }y-#{$step}  {
        #{$property}-top: var(#{$value});
        #{$property}-bottom: var(#{$value});
    }

    .#{ str-slice($property, 0, 1) }l-#{$step}  {
        #{$property}-left: var(#{$value});
    }

    .#{ str-slice($property, 0, 1) }r-#{$step}  {
        #{$property}-right: var(#{$value});
    }

    .#{ str-slice($property, 0, 1) }t-#{$step}  {
        #{$property}-top: var(#{$value});
    }

    .#{ str-slice($property, 0, 1) }b-#{$step}  {
        #{$property}-bottom: var(#{$value});
    }
}


:root {
    font-size: 16px;

    --color-color-0: #FFFFFF;
    --color-color-100: #012957;

    @include declare-color(color-primary, #FF1D62);
    @include declare-color(color-secondary, #F2E235);
    @include declare-color(color-grey, #AEA8D3);
    @include declare-color(color-dark, #171633);

    --size-none: 0;
    --size-xs: 0.25rem;
    --size-s: 0.5rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 3rem;

    --radius: 4px;

    --input-height: 40px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--color-dark);
}

/**
    Margins
**/
@include declare-xy(margin, 0, --size-none);
@include declare-xy(margin, 1, --size-xs);
@include declare-xy(margin, 2, --size-s);
@include declare-xy(margin, 3, --size-m);
@include declare-xy(margin, 4, --size-l);
@include declare-xy(margin, 5, --size-xl);

/**
    paddings
**/
@include declare-xy(padding, 0, --size-none);
@include declare-xy(padding, 1, --size-xs);
@include declare-xy(padding, 2, --size-s);
@include declare-xy(padding, 3, --size-m);
@include declare-xy(padding, 4, --size-l);
@include declare-xy(padding, 5, --size-xl);
