.component-button {
    --color: var(--color-primary);
    --background: transparent;
    --border: transparent;
    --color-outline: var(--color-0);
    --shadow: var(--color);

    &:hover {
        transform: translateX(2px) translateY(2px);
        box-shadow: none;
        transition: box-shadow 0.2s ease, transform 0.2s ease;
    }

    &.component-button--outline {
        color: var(--color);
        border-color: var(--color);
        background: transparent !important;
    }

    font-size: 1rem;
    color: var(--color);
    border: 1px solid var(--border);
    background-color: var(--background);
    border-radius: var(--radius);
    box-shadow: 2px 3px 0px 1px var(--shadow);
    height: var(--input-height);
    cursor: pointer;
}

