.component-list {
    .folders, .mails {
        height: 100vh;
        overflow-y: auto;
    }
}

.component-mail-read {
    &, iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}