.component-input {
    --background: var(--color-grey);
    --shadow: rgba(0, 0, 0, 0.25);

    &.disabled,
    &[disabled] {
        --background: var(--color-grey-0);
    }

    background-color: var(--background);
    box-shadow: 4px 4px 0px 0px var(--shadow) inset;
    border: none;
    border-radius: var(--radius);
    outline: none;
    padding: var(--size-s);
    color: var(--color-dark);

    &::placeholder {
        color: var(--color-dark);
        opacity: 0.4;
    }
}