.component-house {
  height: 100vh;

  .folder-list {
    overflow-y: auto;

    .folder-entry {
      border: 1px solid transparent;
      &:hover, &.active {
        text-decoration: none !important;
        .font-family-secondary {
          color: var(--brand-primary);
        }
      }
    }
  }
}