.component-mail-entry {
  min-width: 300px;
  min-height: 73px;
  cursor: pointer;

  .subject {
    word-break: break-all;
  }

  .picture {
      $size: 50px;
      width: $size;

      img {
          $size: 25px;

          width: $size;
          height: $size;
      }
  }
}