
@use './mixins.scss' as *;

$font-size: 16;

:root {
    --font-size: #{$font-size}px;

    @include declare-color(color-100, #FFFFFF);
    @include declare-color(color-0, #012957);

    @include declare-color(color-primary, #00adb5);
    @include declare-color(color-secondary, #92B509);
    @include declare-color(color-grey, #ffffff);
    @include declare-color(color-dark, #393e46);

    @include declare-color(color-alert-50, #FFD500);
    @include declare-color(color-alert-75, #F07400);
    @include declare-color(color-alert-100, #B51B09);


    --size-none: 0;
    --size-xs: 0.25rem;
    --size-s: 0.5rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 3rem;

    --radius: 4px;

    --input-height: 40px;
}