.component-checkbox {
    --size: 20px;

    display: inline-block;
    width: var(--size);
    height: var(--size);

    border: 1px solid var(--color-primary);
    border-radius: var(--radius);

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.component-checkbox.checked {
    background-color: var(--color-primary);
}

.component-checkbox.checked::before {
    content: '✓';
    font-size: 1rem;
    display: inline-block;
    margin-top: calc((var(--size) / 2) - (1rem / 2));
}

.component-checkbox input {
    display: none;
}